body {
  background-color: blue;
}

.jogo {
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ddd;
  background: rgba(255,255,255,0.8);
}

.jogo img {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
}